--- 
---

img {
    width: 100%;
    margin-bottom: 30pt;
}

body {
    margin: 0;
}

.body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    max-width: 500pt;
    margin: 0 auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: normal;
    margin: 10pt 0 10pt 0;
}

h2 {
    font-size: 23pt;
    font-weight: normal;
    margin: 30pt 0 10pt 0;
}

h3 {
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
}

.name, .contacts {
    font-size: 14pt;
    text-align: right;
}

.phone {
    margin-top: 5pt;
}

.whatsapp {
    margin-bottom: 5pt;
}

.phone, .whatsapp, .name {
    font-size: 20pt;
}

li {
    margin: 8pt 0;
}

